.ng-valid[required], .ng-valid.required  {
    border-bottom: 3px solid mediumseagreen; 
  }
  
  .ng-invalid:not(form)  {
    border-bottom: 3px solid orange; 
  }
  
  .ng-untouched:not(form) {
    border-bottom: 3px solid mediumseagreen; 
  }

.animation {
    position: relative;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    margin: 0;
}

.animation__eye {
    position: absolute;
    display: none;
    width: 6px;
    height: 5px;
    background-image: url("img/eye.png");
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0;
}

.animation__eye--one-one {
    left: 58px;
    top: 107px;
}

.animation__eye--one-two {
    left: 104px;
    top: 108px;
}

.animation__eye--two-one {
    left: 250px;
    top: 164px;
}

.animation__eye--two-two {
    left: 296px;
    top: 164px;
}

.animation__video {
    display: none;
    opacity: 0;
}
